In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:85% !important; }</style>"))

In [3]:
import numpy as np
import pandas as pd

In [4]:
tm = pd.read_excel('data/transfermarktFINAL.xlsx')

In [5]:
#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
england_std21 = pd.read_excel('data/league_data/england/21/england_std.xlsx')
england_shooting21 = pd.read_excel('data/league_data/england/21/england_shooting.xlsx')
england_shot_creation21 = pd.read_excel('data/league_data/england/21/england_shot_creation.xlsx')
england_possession21 = pd.read_excel('data/league_data/england/21/england_possession.xlsx')
england_passing21 = pd.read_excel('data/league_data/england/21/england_passing.xlsx')
england_defend21 = pd.read_excel('data/league_data/england/21/england_defending.xlsx')
england_misc21 = pd.read_excel('data/league_data/england/21/england_misc.xlsx')


#List of Column Names for each dataframe. These column names will be used to rename the columns on the remaining dataframes to be imported.
std_cols = [a for a in england_std21.columns]
shooting_cols = [a for a in england_shooting21.columns]
shot_creation_cols = [a for a in england_shot_creation21.columns]
possession_cols = [a for a in england_possession21.columns]
passing_cols = [a for a in england_passing21.columns]
defending_cols = [a for a in england_defend21.columns]
misc_cols = [a for a in england_misc21.columns]


#Dropping duplicate repeating columns from English Premier League dataframes
england_shooting21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)
england_shot_creation21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)
england_possession21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)
england_passing21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)
england_defend21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)
england_misc21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


eng_21 = pd.concat([england_std21, england_shooting21, england_shot_creation21, england_possession21, england_passing21, england_defend21, england_misc21],axis=1,join="inner")
eng_21.columns = [a+' (20/21)' for a in eng_21.columns]
eng_21.rename(columns={"Player (20/21)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
england_std20 = pd.read_excel('data/league_data/england/20/england_std.xlsx')
england_std20.columns = std_cols

england_shooting20 = pd.read_excel('data/league_data/england/20/england_shooting.xlsx')
england_shooting20.columns = shooting_cols
england_shooting20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

england_shot_creation20 = pd.read_excel('data/league_data/england/20/england_shot_creation.xlsx')
england_shot_creation20.columns = shot_creation_cols
england_shot_creation20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

england_possession20 = pd.read_excel('data/league_data/england/20/england_possession.xlsx')
england_possession20.columns = possession_cols
england_possession20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_passing20 = pd.read_excel('data/league_data/england/20/england_passing.xlsx')
england_passing20.columns = passing_cols
england_passing20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_defend20 = pd.read_excel('data/league_data/england/20/england_defending.xlsx')
england_defend20.columns = defending_cols
england_defend20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_misc20 = pd.read_excel('data/league_data/england/20/england_misc.xlsx')
england_misc20.columns = misc_cols
england_misc20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


eng_20 = pd.concat([england_std20, england_shooting20, england_shot_creation20, england_possession20, england_passing20, england_defend20, england_misc20],axis=1,join="inner")
eng_20.columns = [a+' (19/20)' for a in eng_20.columns]
eng_20.rename(columns={"Player (19/20)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
england_std19 = pd.read_excel('data/league_data/england/19/england_std.xlsx')
england_std19.columns = std_cols

england_shooting19 = pd.read_excel('data/league_data/england/19/england_shooting.xlsx')
england_shooting19.columns = shooting_cols
england_shooting19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

england_shot_creation19 = pd.read_excel('data/league_data/england/19/england_shot_creation.xlsx')
england_shot_creation19.columns = shot_creation_cols
england_shot_creation19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

england_possession19 = pd.read_excel('data/league_data/england/19/england_possession.xlsx')
england_possession19.columns = possession_cols
england_possession19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_passing19 = pd.read_excel('data/league_data/england/19/england_passing.xlsx')
england_passing19.columns = passing_cols
england_passing19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_defend19 = pd.read_excel('data/league_data/england/19/england_defending.xlsx')
england_defend19.columns = defending_cols
england_defend19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_misc19 = pd.read_excel('data/league_data/england/19/england_misc.xlsx')
england_misc19.columns = misc_cols
england_misc19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


eng_19 = pd.concat([england_std19, england_shooting19, england_shot_creation19, england_possession19, england_passing19, england_defend19, england_misc19],axis=1,join="inner")
eng_19.columns = [a+' (18/19)' for a in eng_19.columns]
eng_19.rename(columns={"Player (18/19)": "Player"},inplace=True)


#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
england_std18 = pd.read_excel('data/league_data/england/18/england_std.xlsx')
england_std18.columns = std_cols

england_shooting18 = pd.read_excel('data/league_data/england/18/england_shooting.xlsx')
england_shooting18.columns = shooting_cols
england_shooting18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

england_shot_creation18 = pd.read_excel('data/league_data/england/18/england_shot_creation.xlsx')
england_shot_creation18.columns = shot_creation_cols
england_shot_creation18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

england_possession18 = pd.read_excel('data/league_data/england/18/england_possession.xlsx')
england_possession18.columns = possession_cols
england_possession18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_passing18 = pd.read_excel('data/league_data/england/18/england_passing.xlsx')
england_passing18.columns = passing_cols
england_passing18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_defend18 = pd.read_excel('data/league_data/england/18/england_defending.xlsx')
england_defend18.columns = defending_cols
england_defend18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

england_misc18 = pd.read_excel('data/league_data/england/18/england_misc.xlsx')
england_misc18.columns = misc_cols
england_misc18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


eng_18 = pd.concat([england_std18, england_shooting18, england_shot_creation18, england_possession18, england_passing18, england_defend18, england_misc18],axis=1,join="inner")
eng_18.columns = [a+' (17/18)' for a in eng_18.columns]
eng_18.rename(columns={"Player (17/18)": "Player"},inplace=True)


#---------------------------------------------------------------------------------------------------


#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
france_std21 = pd.read_excel('data/league_data/france/21/france_std.xlsx')
france_std21.columns = std_cols

france_shooting21 = pd.read_excel('data/league_data/france/21/france_shooting.xlsx')
france_shooting21.columns = shooting_cols
france_shooting21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

france_shot_creation21 = pd.read_excel('data/league_data/france/21/france_shot_creation.xlsx')
france_shot_creation21.columns = shot_creation_cols
france_shot_creation21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

france_possession21 = pd.read_excel('data/league_data/france/21/france_possession.xlsx')
france_possession21.columns = possession_cols
france_possession21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_passing21 = pd.read_excel('data/league_data/france/21/france_passing.xlsx')
france_passing21.columns = passing_cols
france_passing21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_defend21 = pd.read_excel('data/league_data/france/21/france_defending.xlsx')
france_defend21.columns = defending_cols
france_defend21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_misc21 = pd.read_excel('data/league_data/france/21/france_misc.xlsx')
france_misc21.columns = misc_cols
france_misc21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


fra_21 = pd.concat([france_std21, france_shooting21, france_shot_creation21, france_possession21, france_passing21, france_defend21, france_misc21],axis=1,join="inner")
fra_21.columns = [a+' (20/21)' for a in fra_21.columns]
fra_21.rename(columns={"Player (20/21)": "Player"},inplace=True)


#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
france_std20 = pd.read_excel('data/league_data/france/20/france_std.xlsx')
france_std20.columns = std_cols

france_shooting20 = pd.read_excel('data/league_data/france/20/france_shooting.xlsx')
france_shooting20.columns = shooting_cols
france_shooting20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

france_shot_creation20 = pd.read_excel('data/league_data/france/20/france_shot_creation.xlsx')
france_shot_creation20.columns = shot_creation_cols
france_shot_creation20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

france_possession20 = pd.read_excel('data/league_data/france/20/france_possession.xlsx')
france_possession20.columns = possession_cols
france_possession20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_passing20 = pd.read_excel('data/league_data/france/20/france_passing.xlsx')
france_passing20.columns = passing_cols
france_passing20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_defend20 = pd.read_excel('data/league_data/france/20/france_defending.xlsx')
france_defend20.columns = defending_cols
france_defend20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_misc20 = pd.read_excel('data/league_data/france/20/france_misc.xlsx')
france_misc20.columns = misc_cols
france_misc20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


fra_20 = pd.concat([france_std20, france_shooting20, france_shot_creation20, france_possession20, france_passing20, france_defend20, france_misc20],axis=1,join="inner")
fra_20.columns = [a+' (19/20)' for a in fra_20.columns]
fra_20.rename(columns={"Player (19/20)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
france_std19 = pd.read_excel('data/league_data/france/19/france_std.xlsx')
france_std19.columns = std_cols

france_shooting19 = pd.read_excel('data/league_data/france/19/france_shooting.xlsx')
france_shooting19.columns = shooting_cols
france_shooting19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

france_shot_creation19 = pd.read_excel('data/league_data/france/19/france_shot_creation.xlsx')
france_shot_creation19.columns = shot_creation_cols
france_shot_creation19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

france_possession19 = pd.read_excel('data/league_data/france/19/france_possession.xlsx')
france_possession19.columns = possession_cols
france_possession19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_passing19 = pd.read_excel('data/league_data/france/19/france_passing.xlsx')
france_passing19.columns = passing_cols
france_passing19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_defend19 = pd.read_excel('data/league_data/france/19/france_defending.xlsx')
france_defend19.columns = defending_cols
france_defend19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_misc19 = pd.read_excel('data/league_data/france/19/france_misc.xlsx')
france_misc19.columns = misc_cols
france_misc19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


fra_19 = pd.concat([france_std19, france_shooting19, france_shot_creation19, france_possession19, france_passing19, france_defend19, france_misc19],axis=1,join="inner")
fra_19.columns = [a+' (18/19)' for a in fra_19.columns]
fra_19.rename(columns={"Player (18/19)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
france_std18 = pd.read_excel('data/league_data/france/18/france_std.xlsx')
france_std18.columns = std_cols

france_shooting18 = pd.read_excel('data/league_data/france/18/france_shooting.xlsx')
france_shooting18.columns = shooting_cols
france_shooting18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

france_shot_creation18 = pd.read_excel('data/league_data/france/18/france_shot_creation.xlsx')
france_shot_creation18.columns = shot_creation_cols
france_shot_creation18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

france_possession18 = pd.read_excel('data/league_data/france/18/france_possession.xlsx')
france_possession18.columns = possession_cols
france_possession18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_passing18 = pd.read_excel('data/league_data/france/18/france_passing.xlsx')
france_passing18.columns = passing_cols
france_passing18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_defend18 = pd.read_excel('data/league_data/france/18/france_defending.xlsx')
france_defend18.columns = defending_cols
france_defend18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

france_misc18 = pd.read_excel('data/league_data/france/18/france_misc.xlsx')
france_misc18.columns = misc_cols
france_misc18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


fra_18 = pd.concat([france_std18, france_shooting18, france_shot_creation18, france_possession18, france_passing18, france_defend18, france_misc18],axis=1,join="inner")
fra_18.columns = [a+' (17/18)' for a in fra_18.columns]
fra_18.rename(columns={"Player (17/18)": "Player"},inplace=True)

#---------------------------------------------------------------------------------------------------

#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
germany_std21 = pd.read_excel('data/league_data/germany/21/germany_std.xlsx')
germany_std21.columns = std_cols

germany_shooting21 = pd.read_excel('data/league_data/germany/21/germany_shooting.xlsx')
germany_shooting21.columns = shooting_cols
germany_shooting21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

germany_shot_creation21 = pd.read_excel('data/league_data/germany/21/germany_shot_creation.xlsx')
germany_shot_creation21.columns = shot_creation_cols
germany_shot_creation21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

germany_possession21 = pd.read_excel('data/league_data/germany/21/germany_possession.xlsx')
germany_possession21.columns = possession_cols
germany_possession21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_passing21 = pd.read_excel('data/league_data/germany/21/germany_passing.xlsx')
germany_passing21.columns = passing_cols
germany_passing21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_defend21 = pd.read_excel('data/league_data/germany/21/germany_defending.xlsx')
germany_defend21.columns = defending_cols
germany_defend21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_misc21 = pd.read_excel('data/league_data/germany/21/germany_misc.xlsx')
germany_misc21.columns = misc_cols
germany_misc21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ger_21 = pd.concat([germany_std21, germany_shooting21, germany_shot_creation21, germany_possession21, germany_passing21, germany_defend21, germany_misc21],axis=1,join="inner")
ger_21.columns = [a+' (20/21)' for a in ger_21.columns]
ger_21.rename(columns={"Player (20/21)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
germany_std20 = pd.read_excel('data/league_data/germany/20/germany_std.xlsx')
germany_std20.columns = std_cols

germany_shooting20 = pd.read_excel('data/league_data/germany/20/germany_shooting.xlsx')
germany_shooting20.columns = shooting_cols
germany_shooting20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

germany_shot_creation20 = pd.read_excel('data/league_data/germany/20/germany_shot_creation.xlsx')
germany_shot_creation20.columns = shot_creation_cols
germany_shot_creation20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

germany_possession20 = pd.read_excel('data/league_data/germany/20/germany_possession.xlsx')
germany_possession20.columns = possession_cols
germany_possession20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_passing20 = pd.read_excel('data/league_data/germany/20/germany_passing.xlsx')
germany_passing20.columns = passing_cols
germany_passing20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_defend20 = pd.read_excel('data/league_data/germany/20/germany_defending.xlsx')
germany_defend20.columns = defending_cols
germany_defend20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_misc20 = pd.read_excel('data/league_data/germany/20/germany_misc.xlsx')
germany_misc20.columns = misc_cols
germany_misc20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ger_20 = pd.concat([germany_std20, germany_shooting20, germany_shot_creation20, germany_possession20, germany_passing20, germany_defend20, germany_misc20],axis=1,join="inner")
ger_20.columns = [a+' (19/20)' for a in ger_20.columns]
ger_20.rename(columns={"Player (19/20)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
germany_std19 = pd.read_excel('data/league_data/germany/19/germany_std.xlsx')
germany_std19.columns = std_cols

germany_shooting19 = pd.read_excel('data/league_data/germany/19/germany_shooting.xlsx')
germany_shooting19.columns = shooting_cols
germany_shooting19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

germany_shot_creation19 = pd.read_excel('data/league_data/germany/19/germany_shot_creation.xlsx')
germany_shot_creation19.columns = shot_creation_cols
germany_shot_creation19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

germany_possession19 = pd.read_excel('data/league_data/germany/19/germany_possession.xlsx')
germany_possession19.columns = possession_cols
germany_possession19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_passing19 = pd.read_excel('data/league_data/germany/19/germany_passing.xlsx')
germany_passing19.columns = passing_cols
germany_passing19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_defend19 = pd.read_excel('data/league_data/germany/19/germany_defending.xlsx')
germany_defend19.columns = defending_cols
germany_defend19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_misc19 = pd.read_excel('data/league_data/germany/19/germany_misc.xlsx')
germany_misc19.columns = misc_cols
germany_misc19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ger_19 = pd.concat([germany_std19, germany_shooting19, germany_shot_creation19, germany_possession19, germany_passing19, germany_defend19, germany_misc19],axis=1,join="inner")
ger_19.columns = [a+' (18/19)' for a in ger_19.columns]
ger_19.rename(columns={"Player (18/19)": "Player"},inplace=True)




#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
germany_std18 = pd.read_excel('data/league_data/germany/18/germany_std.xlsx')
germany_std18.columns = std_cols

germany_shooting18 = pd.read_excel('data/league_data/germany/18/germany_shooting.xlsx')
germany_shooting18.columns = shooting_cols
germany_shooting18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

germany_shot_creation18 = pd.read_excel('data/league_data/germany/18/germany_shot_creation.xlsx')
germany_shot_creation18.columns = shot_creation_cols
germany_shot_creation18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

germany_possession18 = pd.read_excel('data/league_data/germany/18/germany_possession.xlsx')
germany_possession18.columns = possession_cols
germany_possession18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_passing18 = pd.read_excel('data/league_data/germany/18/germany_passing.xlsx')
germany_passing18.columns = passing_cols
germany_passing18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_defend18 = pd.read_excel('data/league_data/germany/18/germany_defending.xlsx')
germany_defend18.columns = defending_cols
germany_defend18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

germany_misc18 = pd.read_excel('data/league_data/germany/18/germany_misc.xlsx')
germany_misc18.columns = misc_cols
germany_misc18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ger_18 = pd.concat([germany_std18, germany_shooting18, germany_shot_creation18, germany_possession18, germany_passing18, germany_defend18, germany_misc18],axis=1,join="inner")
ger_18.columns = [a+' (17/18)' for a in ger_18.columns]
ger_18.rename(columns={"Player (17/18)": "Player"},inplace=True)


#---------------------------------------------------------------------------------------------------


#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
italy_std21 = pd.read_excel('data/league_data/italy/21/italy_std.xlsx')
italy_std21.columns = std_cols

italy_shooting21 = pd.read_excel('data/league_data/italy/21/italy_shooting.xlsx')
italy_shooting21.columns = shooting_cols
italy_shooting21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

italy_shot_creation21 = pd.read_excel('data/league_data/italy/21/italy_shot_creation.xlsx')
italy_shot_creation21.columns = shot_creation_cols
italy_shot_creation21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

italy_possession21 = pd.read_excel('data/league_data/italy/21/italy_possession.xlsx')
italy_possession21.columns = possession_cols
italy_possession21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_passing21 = pd.read_excel('data/league_data/italy/21/italy_passing.xlsx')
italy_passing21.columns = passing_cols
italy_passing21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_defend21 = pd.read_excel('data/league_data/italy/21/italy_defending.xlsx')
italy_defend21.columns = defending_cols
italy_defend21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_misc21 = pd.read_excel('data/league_data/italy/21/italy_misc.xlsx')
italy_misc21.columns = misc_cols
italy_misc21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ita_21 = pd.concat([italy_std21, italy_shooting21, italy_shot_creation21, italy_possession21, italy_passing21, italy_defend21, italy_misc21],axis=1,join="inner")
ita_21.columns = [a+' (20/21)' for a in ita_21.columns]
ita_21.rename(columns={"Player (20/21)": "Player"},inplace=True)


#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
italy_std20 = pd.read_excel('data/league_data/italy/20/italy_std.xlsx')
italy_std20.columns = std_cols

italy_shooting20 = pd.read_excel('data/league_data/italy/20/italy_shooting.xlsx')
italy_shooting20.columns = shooting_cols
italy_shooting20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

italy_shot_creation20 = pd.read_excel('data/league_data/italy/20/italy_shot_creation.xlsx')
italy_shot_creation20.columns = shot_creation_cols
italy_shot_creation20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

italy_possession20 = pd.read_excel('data/league_data/italy/20/italy_possession.xlsx')
italy_possession20.columns = possession_cols
italy_possession20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_passing20 = pd.read_excel('data/league_data/italy/20/italy_passing.xlsx')
italy_passing20.columns = passing_cols
italy_passing20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_defend20 = pd.read_excel('data/league_data/italy/20/italy_defending.xlsx')
italy_defend20.columns = defending_cols
italy_defend20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_misc20 = pd.read_excel('data/league_data/italy/20/italy_misc.xlsx')
italy_misc20.columns = misc_cols
italy_misc20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ita_20 = pd.concat([italy_std20, italy_shooting20, italy_shot_creation20, italy_possession20, italy_passing20, italy_defend20, italy_misc20],axis=1,join="inner")
ita_20.columns = [a+' (19/20)' for a in ita_20.columns]
ita_20.rename(columns={"Player (19/20)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
italy_std19 = pd.read_excel('data/league_data/italy/19/italy_std.xlsx')
italy_std19.columns = std_cols

italy_shooting19 = pd.read_excel('data/league_data/italy/19/italy_shooting.xlsx')
italy_shooting19.columns = shooting_cols
italy_shooting19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

italy_shot_creation19 = pd.read_excel('data/league_data/italy/19/italy_shot_creation.xlsx')
italy_shot_creation19.columns = shot_creation_cols
italy_shot_creation19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

italy_possession19 = pd.read_excel('data/league_data/italy/19/italy_possession.xlsx')
italy_possession19.columns = possession_cols
italy_possession19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_passing19 = pd.read_excel('data/league_data/italy/19/italy_passing.xlsx')
italy_passing19.columns = passing_cols
italy_passing19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_defend19 = pd.read_excel('data/league_data/italy/19/italy_defending.xlsx')
italy_defend19.columns = defending_cols
italy_defend19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_misc19 = pd.read_excel('data/league_data/italy/19/italy_misc.xlsx')
italy_misc19.columns = misc_cols
italy_misc19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ita_19 = pd.concat([italy_std19, italy_shooting19, italy_shot_creation19, italy_possession19, italy_passing19, italy_defend19, italy_misc19],axis=1,join="inner")
ita_19.columns = [a+' (18/19)' for a in ita_19.columns]
ita_19.rename(columns={"Player (18/19)": "Player"},inplace=True)




#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
italy_std18 = pd.read_excel('data/league_data/italy/18/italy_std.xlsx')
italy_std18.columns = std_cols

italy_shooting18 = pd.read_excel('data/league_data/italy/18/italy_shooting.xlsx')
italy_shooting18.columns = shooting_cols
italy_shooting18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

italy_shot_creation18 = pd.read_excel('data/league_data/italy/18/italy_shot_creation.xlsx')
italy_shot_creation18.columns = shot_creation_cols
italy_shot_creation18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

italy_possession18 = pd.read_excel('data/league_data/italy/18/italy_possession.xlsx')
italy_possession18.columns = possession_cols
italy_possession18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_passing18 = pd.read_excel('data/league_data/italy/18/italy_passing.xlsx')
italy_passing18.columns = passing_cols
italy_passing18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_defend18 = pd.read_excel('data/league_data/italy/18/italy_defending.xlsx')
italy_defend18.columns = defending_cols
italy_defend18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

italy_misc18 = pd.read_excel('data/league_data/italy/18/italy_misc.xlsx')
italy_misc18.columns = misc_cols
italy_misc18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


ita_18 = pd.concat([italy_std18, italy_shooting18, italy_shot_creation18, italy_possession18, italy_passing18, italy_defend18, italy_misc18],axis=1,join="inner")
ita_18.columns = [a+' (17/18)' for a in ita_18.columns]
ita_18.rename(columns={"Player (17/18)": "Player"},inplace=True)


#---------------------------------------------------------------------------------------------------


#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
spain_std21 = pd.read_excel('data/league_data/spain/21/spain_std.xlsx')
spain_std21.columns = std_cols

spain_shooting21 = pd.read_excel('data/league_data/spain/21/spain_shooting.xlsx')
spain_shooting21.columns = shooting_cols
spain_shooting21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

spain_shot_creation21 = pd.read_excel('data/league_data/spain/21/spain_shot_creation.xlsx')
spain_shot_creation21.columns = shot_creation_cols
spain_shot_creation21.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

spain_possession21 = pd.read_excel('data/league_data/spain/21/spain_possession.xlsx')
spain_possession21.columns = possession_cols
spain_possession21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_passing21 = pd.read_excel('data/league_data/spain/21/spain_passing.xlsx')
spain_passing21.columns = passing_cols
spain_passing21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_defend21 = pd.read_excel('data/league_data/spain/21/spain_defending.xlsx')
spain_defend21.columns = defending_cols
spain_defend21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_misc21 = pd.read_excel('data/league_data/spain/21/spain_misc.xlsx')
spain_misc21.columns = misc_cols
spain_misc21.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


esp_21 = pd.concat([spain_std21, spain_shooting21, spain_shot_creation21, spain_possession21, spain_passing21, spain_defend21, spain_misc21],axis=1,join="inner")
esp_21.columns = [a+' (20/21)' for a in esp_21.columns]
esp_21.rename(columns={"Player (20/21)": "Player"},inplace=True)



#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
spain_std20 = pd.read_excel('data/league_data/spain/20/spain_std.xlsx')
spain_std20.columns = std_cols

spain_shooting20 = pd.read_excel('data/league_data/spain/20/spain_shooting.xlsx')
spain_shooting20.columns = shooting_cols
spain_shooting20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

spain_shot_creation20 = pd.read_excel('data/league_data/spain/20/spain_shot_creation.xlsx')
spain_shot_creation20.columns = shot_creation_cols
spain_shot_creation20.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

spain_possession20 = pd.read_excel('data/league_data/spain/20/spain_possession.xlsx')
spain_possession20.columns = possession_cols
spain_possession20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_passing20 = pd.read_excel('data/league_data/spain/20/spain_passing.xlsx')
spain_passing20.columns = passing_cols
spain_passing20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_defend20 = pd.read_excel('data/league_data/spain/20/spain_defending.xlsx')
spain_defend20.columns = defending_cols
spain_defend20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_misc20 = pd.read_excel('data/league_data/spain/20/spain_misc.xlsx')
spain_misc20.columns = misc_cols
spain_misc20.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


esp_20 = pd.concat([spain_std20, spain_shooting20, spain_shot_creation20, spain_possession20, spain_passing20, spain_defend20, spain_misc20],axis=1,join="inner")
esp_20.columns = [a+' (19/20)' for a in esp_20.columns]
esp_20.rename(columns={"Player (19/20)": "Player"},inplace=True)





#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
spain_std19 = pd.read_excel('data/league_data/spain/19/spain_std.xlsx')
spain_std19.columns = std_cols

spain_shooting19 = pd.read_excel('data/league_data/spain/19/spain_shooting.xlsx')
spain_shooting19.columns = shooting_cols
spain_shooting19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

spain_shot_creation19 = pd.read_excel('data/league_data/spain/19/spain_shot_creation.xlsx')
spain_shot_creation19.columns = shot_creation_cols
spain_shot_creation19.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

spain_possession19 = pd.read_excel('data/league_data/spain/19/spain_possession.xlsx')
spain_possession19.columns = possession_cols
spain_possession19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_passing19 = pd.read_excel('data/league_data/spain/19/spain_passing.xlsx')
spain_passing19.columns = passing_cols
spain_passing19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_defend19 = pd.read_excel('data/league_data/spain/19/spain_defending.xlsx')
spain_defend19.columns = defending_cols
spain_defend19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_misc19 = pd.read_excel('data/league_data/spain/19/spain_misc.xlsx')
spain_misc19.columns = misc_cols
spain_misc19.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


esp_19 = pd.concat([spain_std19, spain_shooting19, spain_shot_creation19, spain_possession19, spain_passing19, spain_defend19, spain_misc19],axis=1,join="inner")
esp_19.columns = [a+' (18/19)' for a in esp_19.columns]
esp_19.rename(columns={"Player (18/19)": "Player"},inplace=True)




#Importing English Premier League Data data. The column names were modified by me in MS Excel before importing them here.
spain_std18 = pd.read_excel('data/league_data/spain/18/spain_std.xlsx')
spain_std18.columns = std_cols

spain_shooting18 = pd.read_excel('data/league_data/spain/18/spain_shooting.xlsx')
spain_shooting18.columns = shooting_cols
spain_shooting18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos','Gls'],axis=1, inplace=True)

spain_shot_creation18 = pd.read_excel('data/league_data/spain/18/spain_shot_creation.xlsx')
spain_shot_creation18.columns = shot_creation_cols
spain_shot_creation18.drop(['Rk','Player','Squad','Age','Born','90s▼','Nation','Pos'],axis=1, inplace=True)

spain_possession18 = pd.read_excel('data/league_data/spain/18/spain_possession.xlsx')
spain_possession18.columns = possession_cols
spain_possession18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_passing18 = pd.read_excel('data/league_data/spain/18/spain_passing.xlsx')
spain_passing18.columns = passing_cols
spain_passing18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_defend18 = pd.read_excel('data/league_data/spain/18/spain_defending.xlsx')
spain_defend18.columns = defending_cols
spain_defend18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)

spain_misc18 = pd.read_excel('data/league_data/spain/18/spain_misc.xlsx')
spain_misc18.columns = misc_cols
spain_misc18.drop(['Rk','Player','Squad','Age','Born','90s','Nation','Pos'],axis=1, inplace=True)


esp_18 = pd.concat([spain_std18, spain_shooting18, spain_shot_creation18, spain_possession18, spain_passing18, spain_defend18, spain_misc18],axis=1,join="inner")
esp_18.columns = [a+' (17/18)' for a in esp_18.columns]
esp_18.rename(columns={"Player (17/18)": "Player"},inplace=True)



#Bringing the 5 dataframes together


#dataframes containing records of each season across top 5 leagues
s21 = pd.concat([eng_21,fra_21,ger_21,ita_21,esp_21])
s20 = pd.concat([eng_20,fra_20,ger_20,ita_20,esp_20])
s19 = pd.concat([eng_19,fra_19,ger_19,ita_19,esp_19])
s18 = pd.concat([eng_18,fra_18,ger_18,ita_18,esp_18])


#Combining all 4 seasons into one dataframe

two_yr = pd.merge(s21, s20, how="outer")
three_yr = pd.merge(two_yr, s19, how="outer")
final = pd.merge(three_yr, s18, how="outer")
final.drop_duplicates(keep='first',inplace=True)

In [6]:
#Creating a list of special characters found in player names. These are characters that are common in European languages/names but not in English.

fbref_player_list = [a for a in final['Player']]
tm_player_list = [a for a in tm['Player']]
full_player_list = fbref_player_list + tm_player_list

character_list = []

for a in full_player_list:
    for b in a:
        if b not in character_list:
            character_list.append(b)

            
character_list.sort()


#Only selecting non-traditional characters that are found in certain languages
special_char = character_list[56:]

In [7]:
special_char

['\xad',
 'À',
 'Á',
 'Ç',
 'É',
 'Ñ',
 'Ó',
 'Ö',
 'Ø',
 'Ü',
 'ß',
 'à',
 'á',
 'â',
 'ã',
 'ä',
 'å',
 'æ',
 'ç',
 'è',
 'é',
 'ê',
 'ë',
 'í',
 'î',
 'ï',
 'ð',
 'ñ',
 'ò',
 'ó',
 'ô',
 'ö',
 'ø',
 'ú',
 'ü',
 'ý',
 'ă',
 'ą',
 'Ć',
 'ć',
 'Č',
 'č',
 'Đ',
 'đ',
 'ę',
 'ě',
 'ğ',
 'İ',
 'ı',
 'ľ',
 'Ł',
 'ł',
 'ń',
 'ň',
 'ō',
 'ř',
 'Ş',
 'ş',
 'Š',
 'š',
 'ů',
 'Ž',
 'ž',
 'Ș',
 'ș',
 'ț']

In [6]:
#Manually created list of replacements for our special character list above. The replacements are arranged in the same order as their respective original special characters.
replacement = ['','A','A','C','E','N','O','O','O','U','ss',
                'a','a','a','a','a','a','ae','c','e','e','e',
                'e','i','i','i','d','n','o','o','o','o','o',
                'u','u','y','a','a','C','c','C','c','D','d',
                'e','e','g','I','i','l','L','l','n','n','o',
                'r','S','s','S','s','u','Z','z','S','s','t']


#Replacing Special characters in the 'Player' Column of the fbref dataframe.

fbref_clean_players = []
for a in final['Player']:

    string = a
        
    player_string = []
    for z in string:
        if z in special_char:
            for e in list(range(len(special_char))):
                if z == special_char[e]:
                    player_string.append(replacement[e])
                else:
                    pass
        else:
            player_string.append(z)
    player_string = ''.join(player_string)
    fbref_clean_players.append(player_string)

        
            
final['Player'] = fbref_clean_players  


#Replacing Special characters in the 'Player' Column of the transfermarkt dataframe.

tm_clean_players = []
for a in tm['Player']:

    string = a
        
    player_string = []
    for z in string:
        if z in special_char:
            for e in list(range(len(special_char))):
                if z == special_char[e]:
                    player_string.append(replacement[e])
                else:
                    pass
        else:
            player_string.append(z)
    player_string = ''.join(player_string)
    tm_clean_players.append(player_string)
    

tm['Player'] = tm_clean_players

In [7]:
final.replace('Son Heung-min','Heung-min Son',inplace=True)
final.replace('Federico Valverde','Fede Valverde',inplace=True)
final.replace('Fabian Ruiz Pena','Fabian Ruiz',inplace=True)
final.replace('Rodrigo De Paul','Rodrigo de Paul',inplace=True)
final.replace('Arthur Melo','Arthur',inplace=True)
final.replace('Pierre Hojbjerg','Pierre-Emile Hojbjerg',inplace=True)
final.replace('Gio Reyna','Giovanni Reyna',inplace=True)
final.replace('Jose Luis Gaya','Jose Gaya',inplace=True)
final.replace('Bryan','Bryan Gil',inplace=True)
final.replace('Raphael Dias Belloli','Raphinha',inplace=True)
final.replace('Dani Carvajal','Daniel Carvajal',inplace=True)
final.replace('Thiago Alcantara','Thiago',inplace=True)
final.replace("Obite N'Dicka","Evan N'Dicka",inplace=True)
final.replace('Andre-Frank Zambo Anguissa','Andre Zambo Anguissa',inplace=True)
final.replace('Silas Katompa','Silas Katompa Mvumpa',inplace=True)
final.replace('Kostas Manolas','Konstantinos Manolas',inplace=True)
final.replace('Martinelli','Gabriel Martinelli',inplace=True)
final.replace('Yassine Bounou','Bono',inplace=True)
final.replace('Emile Smith-Rowe','Emile Smith Rowe',inplace=True)
final.replace('Elif Elmas','Eljif Elmas',inplace=True)
final.replace('Ohis Felix Uduokhai','Felix Uduokhai',inplace=True)
final.replace('Jerry St. Juste','Jeremiah St. Juste',inplace=True)
final.replace('Jonny Castro','Jonny Otto',inplace=True)
final.replace('Harvey Elliot','Harvey Elliott',inplace=True)
final.replace('Idrissa Gana Gueye','Idrissa Gueye',inplace=True)
final.replace('Youcef Attal','Youcef Atal',inplace=True)
final.replace('Aleksei Miranchuk','Aleksey Miranchuk',inplace=True)
final.replace('John Brooks','John Anthony Brooks',inplace=True)
final.replace('Caio Henrique Oliveira Silva','Caio Henrique',inplace=True)
final.replace('Oscar Rodriguez Arnaiz','Oscar Rodriguez',inplace=True)
final.replace('Sehrou Guirassy','Serhou Guirassy',inplace=True)
final.replace('Lucas Douath','Lucas Gourna-Douath	',inplace=True)
tm.replace('Emerson Royal','Emerson',inplace=True)

In [8]:
#Combining the transfermarkt and fbref on the common 'Player' column.

final_df = pd.merge(tm, final, on='Player')

In [9]:
#Comparing our transfermarkt dataframe with the final_df dataframe to find missing players

df1 = final_df[['Player','Club','Value']]
df2 = tm[['Player','Club','Value']]

check_df_tm = pd.merge(df1, df2, how='outer', suffixes=('','_y'), indicator=True)
failed_tm = check_df_tm[check_df_tm['_merge']=='right_only'][['Player','Club','Value']].sort_values('Value',ascending=False)

In [10]:
failed_tm[failed_tm['Value']>=10000000]

                    Player                        Club     Value
2570      Emiliano Buendia                 Aston Villa  31500000
2571         Donyell Malen           Borussia Dortmund  27000000
2572    Dominik Szoboszlai                  RB Leipzig  22500000
2573           Patson Daka              Leicester City  19800000
2574        Josko Gvardiol                  RB Leipzig  17100000
2575        Adam Armstrong              Southampton FC  16200000
2576       Gonzalo Montiel                  Sevilla FC  15300000
2577          Rafael Borre         Eintracht Frankfurt  15300000
2578       Denzel Dumfries                 Inter Milan  14400000
2579         Michael Olise              Crystal Palace  13500000
2580      Matheus Henrique                 US Sassuolo  13500000
2581         Calvin Stengs                    OGC Nice  12600000
2582           Myron Boadu                   AS Monaco  12600000
2583           Enock Mwepu  Brighton &amp; Hove Albion  11700000
2584                Wesley                 Aston Villa  11700000
2585      Odilon Kossounou         Bayer 04 Leverkusen  11700000
2587  Albert Sambi Lokonga                  Arsenal FC  10800000
2588      Zinho Vanheusden                   Genoa CFC  10800000
2586   Lucas Gourna-Douath            AS Saint-Étienne  10800000

In [11]:
final.iloc[2646]==final.iloc[2647]

Player                                  True
Squad (20/21)                           True
MP (20/21)                              True
Starts (20/21)                          True
Min (20/21)                             True
                                       ...
Own Goals (17/18)                       True
Total Loose Balls Recovered (17/18)    False
Aerial Duel Wons (17/18)               False
Aerial Duel Lost (17/18)               False
% Aerial Duels Won (17/18)             False
Length: 573, dtype: bool

In [12]:
final[final['Squad (20/21)']=='Inter']

,Player,Squad (20/21),MP (20/21),Starts (20/21),Min (20/21),Total Mins/90 (20/21),Gls (20/21),Ast (20/21),Non-Penalty Goals (20/21),Penalties Scored (20/21),...,Crosses (17/18),Interceptions (17/18),Tackles Won (17/18),Penalty Kicks Won (17/18),Penalties Conceded (17/18),Own Goals (17/18),Total Loose Balls Recovered (17/18),Aerial Duel Wons (17/18),Aerial Duel Lost (17/18),% Aerial Duels Won (17/18)
1634,Samir Handanovic,Inter,37.0,37.0,3240.0,36.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,169.0,0.0,0.0,NaN
1657,Alessandro Bastoni,Inter,33.0,33.0,2922.0,32.5,0.0,3.0,0.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,15.0,0.0,3.0,0.0
1661,Nicolo Barella,Inter,36.0,32.0,2896.0,32.2,3.0,7.0,3.0,0.0,...,53.0,33.0,60.0,0.0,1.0,0.0,396.0,29.0,29.0,50.0
1665,Romelu Lukaku,Inter,36.0,32.0,2884.0,32.0,24.0,11.0,18.0,6.0,...,37.0,6.0,5.0,0.0,0.0,0.0,101.0,127.0,122.0,51.0
1678,Milan Skriniar,Inter,32.0,31.0,2777.0,30.9,3.0,0.0,3.0,0.0,...,0.0,19.0,67.0,0.0,0.0,1.0,405.0,60.0,34.0,63.8
1692,Stefan de Vrij,Inter,32.0,30.0,2734.0,30.4,1.0,0.0,1.0,0.0,...,2.0,39.0,20.0,0.0,2.0,0.0,446.0,43.0,16.0,72.9
1696,Achraf Hakimi,Inter,37.0,29.0,2665.0,29.6,7.0,8.0,7.0,0.0,...,21.0,14.0,10.0,0.0,0.0,0.0,62.0,4.0,3.0,57.1
1712,Marcelo Brozovic,Inter,33.0,29.0,2581.0,28.7,2.0,6.0,2.0,0.0,...,36.0,14.0,35.0,0.0,0.0,0.0,199.0,17.0,28.0,37.8
1714,Lautaro Martinez,Inter,38.0,30.0,2561.0,28.5,17.0,6.0,15.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1837,Ivan Perisic,Inter,32.0,20.0,1795.0,19.9,4.0,3.0,4.0,0.0,...,172.0,32.0,30.0,0.0,0.0,1.0,232.0,57.0,48.0,54.3
1913,Ashley Young,Inter,26.0,16.0,1425.0,15.8,1.0,4.0,1.0,0.0,...,95.0,67.0,29.0,0.0,0.0,0.0,250.0,20.0,35.0,36.4
1914,Ashley Young,Inter,26.0,16.0,1425.0,15.8,1.0,4.0,1.0,0.0,...,95.0,67.0,29.0,0.0,0.0,0.0,250.0,20.0,35.0,36.4
1917,Christian Eriksen,Inter,26.0,17.0,1385.0,15.4,3.0,0.0,3.0,0.0,...,107.0,36.0,37.0,0.0,0.0,0.0,355.0,25.0,42.0,37.3
1918,Christian Eriksen,Inter,26.0,17.0,1385.0,15.4,3.0,0.0,3.0,0.0,...,107.0,36.0,37.0,0.0,0.0,0.0,355.0,25.0,42.0,37.3
1938,Roberto Gagliardini,Inter,28.0,14.0,1232.0,13.7,3.0,2.0,3.0,0.0,...,10.0,34.0,45.0,0.0,0.0,0.0,271.0,57.0,31.0,64.8
1961,Matteo Darmian,Inter,26.0,14.0,1160.0,12.9,3.0,3.0,3.0,0.0,...,7.0,15.0,11.0,0.0,0.0,0.0,24.0,8.0,9.0,47.1
1972,Alexis Sanchez,Inter,30.0,12.0,1146.0,12.7,7.0,5.0,7.0,0.0,...,49.0,7.0,12.0,0.0,0.0,0.0,114.0,10.0,45.0,18.2
1973,Alexis Sanchez,Inter,30.0,12.0,1146.0,12.7,7.0,5.0,7.0,0.0,...,29.0,19.0,24.0,1.0,0.0,0.0,90.0,5.0,25.0,16.7
1975,Arturo Vidal,Inter,23.0,14.0,1138.0,12.6,1.0,1.0,1.0,0.0,...,8.0,15.0,36.0,0.0,0.0,0.0,223.0,32.0,24.0,57.1
2057,Danilo D'Ambrosio,Inter,19.0,7.0,699.0,7.8,3.0,0.0,3.0,0.0,...,49.0,32.0,61.0,1.0,0.0,0.0,310.0,59.0,45.0,56.7
2062,Andrea Ranocchia,Inter,8.0,8.0,703.0,7.8,0.0,1.0,0.0,0.0,...,1.0,7.0,7.0,0.0,0.0,1.0,59.0,29.0,8.0,78.4
2081,Stefano Sensi,Inter,18.0,4.0,603.0,6.7,0.0,0.0,0.0,0.0,...,15.0,11.0,21.0,1.0,0.0,0.0,137.0,3.0,8.0,27.3
2120,Aleksandar Kolarov,Inter,7.0,4.0,390.0,4.3,0.0,1.0,0.0,0.0,...,166.0,34.0,37.0,2.0,1.0,0.0,354.0,44.0,22.0,66.7
2154,Matias Vecino,Inter,8.0,3.0,283.0,3.1,1.0,1.0,1.0,0.0,...,15.0,15.0,26.0,0.0,0.0,0.0,252.0,37.0,42.0,46.8
2186,Andrea Pinamonti,Inter,8.0,1.0,169.0,1.9,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
eng_18[eng_18['Player'].str.contains('Alexis')==True]

,Player,Squad (17/18),MP (17/18),Starts (17/18),Min (17/18),Total Mins/90 (17/18),Gls (17/18),Ast (17/18),Non-Penalty Goals (17/18),Penalties Scored (17/18),...,Crosses (17/18),Interceptions (17/18),Tackles Won (17/18),Penalty Kicks Won (17/18),Penalties Conceded (17/18),Own Goals (17/18),Total Loose Balls Recovered (17/18),Aerial Duel Wons (17/18),Aerial Duel Lost (17/18),% Aerial Duels Won (17/18)
250,Alexis Sánchez,Arsenal,19,17,1503,16.7,7,3,6,1,...,49,7,12,0,0,0,114,10,45,18.2
311,Alexis Sánchez,Manchester Utd,12,12,1043,11.6,2,3,2,0,...,29,19,24,1,0,0,90,5,25,16.7

In [16]:
england_std18[england_std18['Player'].str.contains('Alexis')==True]

,Player,Squad,MP,Starts,Min,Total Mins/90,Gls,Ast,Non-Penalty Goals,Penalties Scored,...,(Gls+Ast-Scored Penalties)/90,xG,Non-Penalty xG,xA,Non-penalty xG+ xA,xG/90,xA/90,(xG+xA)/90,Non-Penalty xG/90,(Non-Penalty xG+xA)/90
250,Alexis Sánchez,Arsenal,19,17,1503,16.7,7,3,6,1,...,0.54,7.3,6.6,6.2,12.8,0.44,0.37,0.81,0.39,0.76
311,Alexis Sánchez,Manchester Utd,12,12,1043,11.6,2,3,2,0,...,0.43,3.7,2.8,2.5,5.3,0.32,0.22,0.54,0.24,0.46

In [20]:
final[final['Squad (18/19)']=='Liverpool']

,Player,Squad (20/21),MP (20/21),Starts (20/21),Min (20/21),Total Mins/90 (20/21),Gls (20/21),Ast (20/21),Non-Penalty Goals (20/21),Penalties Scored (20/21),...,Crosses (17/18),Interceptions (17/18),Tackles Won (17/18),Penalty Kicks Won (17/18),Penalties Conceded (17/18),Own Goals (17/18),Total Loose Balls Recovered (17/18),Aerial Duel Wons (17/18),Aerial Duel Lost (17/18),% Aerial Duels Won (17/18)
11,Andrew Robertson,Liverpool,38.0,38.0,3383.0,37.6,1.0,7.0,1.0,0.0,...,56.0,23.0,23.0,0.0,0.0,0.0,214.0,21.0,18.0,53.8
37,Mohamed Salah,Liverpool,37.0,34.0,3078.0,34.2,22.0,5.0,16.0,6.0,...,50.0,13.0,13.0,1.0,0.0,0.0,219.0,19.0,58.0,24.7
44,Trent Alexander-Arnold,Liverpool,36.0,34.0,3031.0,33.7,2.0,7.0,2.0,0.0,...,62.0,52.0,23.0,0.0,0.0,0.0,175.0,8.0,19.0,29.6
47,Alisson,Liverpool,33.0,33.0,2970.0,33.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,230.0,0.0,0.0,NaN
49,Georginio Wijnaldum,Liverpool,38.0,34.0,2941.0,32.7,2.0,0.0,2.0,0.0,...,5.0,42.0,30.0,0.0,0.0,0.0,227.0,19.0,37.0,33.9
61,Roberto Firmino,Liverpool,36.0,33.0,2838.0,31.5,9.0,7.0,9.0,0.0,...,48.0,25.0,48.0,1.0,0.0,0.0,192.0,50.0,133.0,27.3
63,Sadio Mane,Liverpool,35.0,31.0,2810.0,31.2,11.0,7.0,11.0,0.0,...,44.0,19.0,26.0,0.0,0.0,0.0,139.0,31.0,70.0,30.7
107,Fabinho,Liverpool,30.0,28.0,2567.0,28.5,0.0,0.0,0.0,0.0,...,9.0,39.0,61.0,1.0,0.0,0.0,476.0,28.0,18.0,60.9
224,Jordan Henderson,Liverpool,21.0,20.0,1704.0,18.9,1.0,1.0,1.0,0.0,...,16.0,39.0,32.0,0.0,1.0,0.0,390.0,29.0,14.0,67.4
239,Adam Lallana,Brighton,30.0,16.0,1596.0,17.7,1.0,1.0,1.0,0.0,...,6.0,5.0,3.0,0.0,0.0,0.0,32.0,3.0,6.0,33.3
320,Nathaniel Clyne,Crystal Palace,13.0,13.0,1145.0,12.7,0.0,1.0,0.0,0.0,...,7.0,2.0,1.0,0.0,0.0,0.0,26.0,5.0,6.0,45.5
332,James Milner,Liverpool,26.0,11.0,1070.0,11.9,0.0,1.0,0.0,0.0,...,64.0,23.0,35.0,0.0,0.0,0.0,194.0,30.0,21.0,58.8
399,Joel Matip,Liverpool,10.0,9.0,691.0,7.7,1.0,2.0,1.0,0.0,...,1.0,38.0,25.0,0.0,0.0,0.0,215.0,67.0,38.0,63.8
411,Joe Gomez,Liverpool,7.0,6.0,590.0,6.6,0.0,0.0,0.0,0.0,...,33.0,47.0,28.0,0.0,0.0,0.0,231.0,53.0,29.0,64.6
419,Xherdan Shaqiri,Liverpool,14.0,5.0,556.0,6.2,0.0,2.0,0.0,0.0,...,101.0,30.0,15.0,0.0,0.0,0.0,211.0,10.0,32.0,23.8
429,Naby Keita,Liverpool,10.0,7.0,520.0,5.8,0.0,0.0,0.0,0.0,...,14.0,22.0,33.0,0.0,0.0,0.0,294.0,12.0,24.0,33.3
446,Virgil van Dijk,Liverpool,5.0,5.0,370.0,4.1,1.0,0.0,1.0,0.0,...,1.0,22.0,10.0,0.0,1.0,0.0,160.0,95.0,23.0,80.5
447,Virgil van Dijk,Liverpool,5.0,5.0,370.0,4.1,1.0,0.0,1.0,0.0,...,2.0,21.0,6.0,0.0,1.0,0.0,103.0,69.0,26.0,72.6
473,Alex Oxlade-Chamberlain,Liverpool,13.0,2.0,253.0,2.8,1.0,1.0,1.0,0.0,...,40.0,20.0,25.0,0.0,0.0,0.0,153.0,16.0,31.0,34.0
474,Alex Oxlade-Chamberlain,Liverpool,13.0,2.0,253.0,2.8,1.0,1.0,1.0,0.0,...,13.0,10.0,2.0,0.0,0.0,0.0,26.0,3.0,5.0,37.5
485,Divock Origi,Liverpool,9.0,2.0,186.0,2.1,0.0,0.0,0.0,0.0,...,13.0,2.0,2.0,0.0,0.0,0.0,63.0,37.0,69.0,34.9
2740,Alberto Moreno,Villarreal,5.0,2.0,193.0,2.1,0.0,0.0,0.0,0.0,...,35.0,24.0,24.0,0.0,0.0,0.0,131.0,13.0,16.0,44.8
2815,Dejan Lovren,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,52.0,17.0,0.0,1.0,0.0,215.0,132.0,69.0,65.7
3495,Daniel Sturridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,0.0,1.0,0.0,0.0,0.0,14.0,5.0,9.0,35.7
3496,Daniel Sturridge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,6.0,1.0,4.0,20.0

In [22]:
final[final['Player'].str.contains('Alex Oxlade-Chamberlain')==True]['Squad (17/18)']

473    Liverpool
474      Arsenal
Name: Squad (17/18), dtype: object